#login {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #EEE;
    padding: 10px;
}

#login input {
    margin: 15px 0;
}

#login label {
    font-size: small;
    font-weight: bold;
}

#loginBtn #btn {
    margin: 10px auto;
	border: 0;
	background-color: #282c34;
    border-radius: 6px;
    color: white;
	width: 70px;
	height: 30px;
}