#chat {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #EEE;
    padding: 10px;
}

#chat #colorPicker {
    margin-bottom: 15px;
}

#chat #colorPicker select {
    border-radius: 5px;
}

#chat #messages {
    padding: 10px;
    border-radius: 10px;
    background-color: #282c34;
    max-height: 250px;
    margin: auto;
    overflow-y: scroll;
}

#chat #messages ul {
    padding: 0;
    list-style: none;
}

#chat #messages .messageText {
    margin-bottom: 15px;
}

#chat #authorBox {
    margin: 20px 0;
}

#chat #authorBox #writeMessage {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    height: 70px;
    overflow: auto;
    padding: 5px;
}

#chat #authorBox #sendMessage {
    background-color: #282c34;
    border: 0;
    border-radius: 5px;
    color: white;
    position: relative;
    top: -35px;
    margin-left: 10px;
    width: 50px;
    height: 40px;
}

#chat #chatSpace h3 {
    margin: 0;
}

#chat #userList {
    max-height: 100px;
    overflow-y: scroll;
}

#chat #userList #profilePic {
    width: 40px;
    height: 40px;
    position: relative;
    top: 14px;
    margin-right: 15px;
    border-radius: 40px;
}

#chat #userList ul {
    padding: 0;
    list-style: none;
}